.sakaslist-container {
 
}

.sakaslist-image {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.sakaslist-content {
  text-align: center;
  margin-top: -100px; /* Adjust to overlay the text on the image */
  color: white; /* Ensure the text is visible on the background */
}

.sakaslist-content h1, .sakaslist-content h2 {
  margin: 0;
  padding: 0;
}

.sakaslist-buttons {
  width: "80%";
  margin: "auto";
  margin-top: 200px;
}

.google-play-badge {
  width: 150px;
  margin: 10px;
}
